@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px; /* Remove scrollbar space */
}

::-webkit-scrollbar-thumb {
  background: #1f171e;
}